<footer id="footer">
        <div class="container">
            <div class="footer-ribbon">
                <span>Về chúng tôi</span>
            </div>
            <div class="row py-5 my-4">
                <div class="col-md-6 mb-4 mb-lg-0">
                    <a href="index.html" class="logo pr-0 pr-lg-3">
                        <img alt="{{site.title}}" src="/assets/img/logo_allwhite.png" class="opacity-7 bottom-4" height="53">
                    </a>
                    <p class="mt-2 mb-2">Công nghệ số Anh Sơn là cửa hàng chuyên cung cấp linh kiện máy tính, máy in, thiết bị mạng, camera, thiết kế và xây dựng website...</p>
                    <p class="mb-0"><a href="/vechungtoi" class="btn-flat btn-xs text-color-light"><strong class="text-2">XEM THÊM</strong><i class="fas fa-angle-right p-relative top-1 pl-2"></i></a></p>
                </div>
                <div class="col-md-6">
                    <h5 class="text-3 mb-3">Liên hệ với chúng tôi</h5>
                    <div class="row">
                        <div class="col-md-8">
                            <ul class="list list-icons list-icons-lg">
                                <li class="mb-1"><i class="far fa-dot-circle text-color-primary"></i><p class="m-0">Số nhà 2, Ngõ 348, Khối 6A, Thị trấn Anh Sơn,huyện Anh Sơn, Tỉnh Nghệ An</p></li>
                                <li class="mb-1"><i class="fab fa-whatsapp text-color-primary"></i><p class="m-0"><a href="tel:0946127555">0946.127.555</a></p></li>
                                <li class="mb-1"><i class="fab fa-whatsapp text-color-primary"></i><p class="m-0"><a href="tel:0983353225">0983.353.225</a></p></li>
                                <li class="mb-1"><i class="far fa-envelope text-color-primary"></i><p class="m-0"><a href="mailto:connghesoanhson@gmail.com" target = "_blank">connghesoanhson@gmail.com</a></p></li>
                                <li class="mb-1"><i class="fab fa-facebook text-color-primary"></i><p class="m-0"><a href="https://www.facebook.com/congnghesoanhson" target ="_blank"> Công nghệ số Anh Sơn</a></p></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="list list-icons list-icons-sm">
                                <li><i class="fas fa-angle-right"></i><a href="page-faq.html" class="link-hover-style-1 ml-1"> Hỏi đáp</a></li>
                                <li><i class="fas fa-angle-right"></i><a href="sitemap.html" class="link-hover-style-1 ml-1"> Sơ đồ trang</a></li>
                                <li><i class="fas fa-angle-right"></i><a href="contact-us.html" class="link-hover-style-1 ml-1"> Liên hệ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright footer-copyright-style-2">
            <div class="container py-2">
                <div class="row py-4">
                    <div class="col d-flex align-items-center justify-content-center">
                        <p>© Copyright 2019. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>