 <div class="slider-container rev_slider_wrapper" style="height: 530px;">
                <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 530, 'responsiveLevels': [4096,1200,992,500], 'navigation' : {'arrows': { 'enable': false }, 'bullets': {'enable': false, 'style': 'bullets-style-1 bullets-color-primary', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
                    <ul>
                        <li data-transition="fade">
                            <img src="/assets/img/slides/slide-bg-light.jpg"  
                                alt=""
                                data-bgposition="center center" 
                                data-bgfit="cover" 
                                data-bgrepeat="no-repeat" 
                                class="rev-slidebg">
            
                            <div class="tp-caption tp-resizeme d-none d-sm-block"
                                data-frames='[{"delay":1500,"speed":2000,"frame":"0","from":"opacity:0;x:100%;","to":"o:1;x:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                                data-type="image" 
                                data-x="right" data-hoffset="['0','0','-200','-200']"
                                data-y="top"
                                data-width="['auto']"
                                data-height="['auto']"
                                data-basealign="slide"><img src="/assets/img/slides/slide-corporate-8-1-2.jpg" alt=""></div>
            
                            <div class="tp-caption tp-resizeme d-none d-sm-block"
                                data-frames='[{"delay":1500,"speed":2000,"frame":"0","from":"opacity:0;x:-100%;","to":"o:1;x:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                                data-type="image" 
                                data-x="left" data-hoffset="['0','0','-200','-200']"
                                data-y="center"
                                data-width="['auto']"
                                data-height="['auto']"
                                data-basealign="slide"><img src="/assets/img/slides/slide-corporate-8-1-1.jpg" alt=""></div>
            
                            <div class="tp-caption"
                                data-x="center" data-hoffset="['-170','-170','-170','-205']"
                                data-y="center" data-voffset="['-100','-100','-100','-125']"
                                data-start="1000"
                                data-transform_in="x:[-80%];opacity:0;s:500;"
                                data-transform_idle="opacity:0.8;s:500;"><img src="/assets/img/slides/slide-title-border-light.png" alt=""></div>
            
                            <div class="tp-caption text-color-dark font-weight-semibold"
                                data-x="center"
                                data-y="center" data-voffset="['-100','-100','-100','-125']"
                                data-start="700"
                                data-fontsize="['22','22','22','40']"
                                data-lineheight="['25','25','25','45']"
                                data-transform_in="y:[-30%];opacity:0;s:500;">CÔNG NGHỆ SỐ ANH SƠN</div>
            
                            <div class="tp-caption"
                                data-x="center" data-hoffset="['130','130','130','205']"
                                data-y="center" data-voffset="['-100','-100','-100','-125']"
                                data-start="1000"
                                data-transform_in="x:[300%];opacity:0;s:500;"
                                data-transform_idle="opacity:0.8;s:500;"><img src="/assets/img/slides/slide-title-border-light.png" alt=""></div>
            
                            <h1 class="tp-caption font-weight-extra-bold text-color-dark negative-ls-2"
                                data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                                data-x="center"
                                data-y="center" data-voffset="['-50','-50','-50','-40']"
                                data-fontsize="['50','50','50','90']"
                                data-lineheight="['55','55','55','95']">INCREDIBLE DESIGNS</h1>
            
                            <div class="tp-caption font-weight-light text-color-dark"
                                data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"split":"chars","splitdelay":0.05,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                                data-x="center"
                                data-y="center" data-voffset="['0','0','0','40']"
                                data-fontsize="['18','18','18','35']"
                                data-lineheight="['20','20','20','40']"
                                style="color: #b5b5b5;">Porto is a Huge success in the of one of the world's largest MarketPlace.</div>

                            <a class="tp-caption btn btn-primary font-weight-bold"
                                href="#"
                                data-frames='[{"delay":3000,"speed":2000,"frame":"0","from":"y:50%;opacity:0;","to":"y:0;o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                                data-x="center" data-hoffset="0"
                                data-y="center" data-voffset="['70','70','70','135']"
                                data-paddingtop="['15','15','15','30']"
                                data-paddingbottom="['15','15','15','30']"
                                data-paddingleft="['40','40','40','57']"
                                data-paddingright="['40','40','40','57']"
                                data-fontsize="['13','13','13','25']"
                                data-lineheight="['20','20','20','25']">XEM SẢN PHẨM<i class="fas fa-arrow-right ml-1"></i></a>
                            
                        </li>
                    </ul>
                </div>
            </div>